.radioButton {
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
  min-height: 2rem;
  min-width: 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: rgba(59, 59, 59, 0.32);
    cursor: pointer;
  }
}

.radioWidget {
  min-height: 100%;
  min-width: 100%;
  background-color: #2D2D38;

  display: flex;
  flex-flow: column;
}

