@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('/assets/fonts/Roboto-Regular.ttf');
}

:global {
  @import "~normalize.css/normalize.css";

  body {
    background-color: #1f1f2a;
    color: #a2abbd;
    font-family: 'Roboto', sans-serif;
    padding: 0;
  }

  #root {
    height: 100vh;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
