.img {
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &.imageBackArrow {
    background-image: url("/assets/images/back-arrow.png");
  }

  &.imageSwitch {
    background-image: url("/assets/images/switch.png");
  }

  &.imagePlus {
    background-image: url("/assets/images/plus.png");
  }

  &.imageMinus {
    background-image: url("/assets/images/minus.png");
  }
}
