.radioStationsLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.radioStationList {
  min-height: 2rem;
  overflow-y: auto;
  flex-grow: 1;

  .radioStation {
    padding: 0 0.5rem;
    position: relative;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    &:not(:last-child):after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0.5rem;
      right: 0.5rem;
      border-bottom: 2px solid #43434D;
    }

    .radioStationDetail {
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-out;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .radioStationCover {
        border-radius: 50%;
        border: 1px solid #9AA2B4;
        overflow: hidden;
        background-image: url("../../../assets/images/default-radio-station-cover.jpg");
        background-size: contain;
        margin: 1rem;
        width: 6rem;
        height: 6rem;
      }

      &.visible {
        height: 8rem;
      }
    }

    .radioStationTitle {
      min-height: 4rem;
      display: flex;
      align-items: center;

      .radioStationFrequency {
        font-weight: bold;
        margin-left: auto;
      }
    }
  }
}
