.radioFooter {
  padding: 0 0.5rem;
  min-height: 5rem;
  background-color: #22222B;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .currentlyPlaying {
    color: #EDAE61;
    text-transform: uppercase;
    font-size: 0.6rem;
    padding-bottom: 0.1rem;
  }
}
